<!DOCTYPE html>
<html>
	<head>
		<title>BeeSocial</title>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
		<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
		<link href="./custom.css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<v-app light style="background-color: rgba(255,255,255,1);" >
				<v-toolbar  fixed color="white" >
					<v-toolbar-title><img src="./black.png" width="30px" height="30px"> BeeSocial</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn flat @click="page = 'about'">О нас</v-btn>
					<v-btn flat @click="showprojects">Проекты</v-btn>
					<v-btn flat @click="showResources">Ресурсы</v-btn>
					<v-btn flat @click="page = 'sponsors'">Спонсоры</v-btn>
					<v-btn flat @click="showTransfers">Приобритенные ресурсы</v-btn>
					<v-btn flat @click="registerdialog=true">Регистрация</v-btn>
					<v-btn flat @click="showLogin">Авторизация</v-btn>
					<v-btn flat @click="registerdialog=true">Выход</v-btn>
					<!--<v-btn icon color="pink" @click="registerdialog=true"> <v-icon>person</v-icon></v-btn>-->
				</v-toolbar>	
				<v-content color="white" style="margin-top:60px">
					
					<v-dialog v-model="registerdialog" max-width="500px">
						<v-card>
							<v-card-title>
								<h3>Регистрация пользователя</h3>
							</v-card-title>
							<v-card-text>
								<v-form v-model="valid" ref="form" lazy-validation>
									<v-select
									  label="Тип аккаунта"
									  v-model="select"
									  :items="items"
									  :rules="[v => !!v || 'Item is required']"
									  required
									></v-select>
									<v-text-field
									  label="Эл. почта"
									  v-model="email"
									  :rules="emailRules"
									  required
									></v-text-field>
									<v-text-field
										label="Логин"
										v-model="login"
										:counter="16"
										required
									></v-text-field>
									<v-text-field
										label="Пароль"
										v-model="password"
										required
									></v-text-field>
								</v-form>
							</v-card-text>
							<v-card-actions>
								<v-btn color="success" @click="submit"  :disabled="!valid" >Зарегистрироваться</v-btn>
								<v-btn color="error" @click="registerdialog=false">Закрыть</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

					<v-container v-if="page=='about'" >
						<v-layout row >
							<v-flex xs6>
								<h1>Кто мы такие?</h1>
								<p><strong>Bee Social</strong> – социальная платформа, объединяющая коммерческие компании, социальные проекты и волонтёров.</p>
								<p>Платформа Bee Social объединяет тех, кто хочет поделиться своими ресурсами, и тех, кому нужны эти ресурсы.</p>
								<p>Платформа, где каждый может помочь социальному проекту своими ресурсами и волонтерством в обмен на соты - токены.</p>
							</v-flex>
							<v-flex xs6>
								<img src="./black.png" alt="" width="600px" height="600px">
							</v-flex>
						</v-layout>
					</v-container>

					<v-container v-if="page=='projects'" >
						<v-layout warp>
							<v-flex md3 v-for="proj in projlist" :key="proj.id">
								<v-card>
									<v-card-title primary-title>
										<h3> {{ proj.title }}</h3>
									</v-card-title>
									<v-card-text>
										{{ proj.body }}
									</v-card-text>
									<v-card-actions>
										<v-btn flat color="orange" > Сделать что-то </v-btn>
									</v-card-actions> 
								</v-card>
							</v-flex>
						</v-layout>
					</v-container>
					
					<v-container v-if="page=='resources'" >
						<v-layout warp>
							<v-btn color="success" @click="newResourceDialog=true">Создать ресурс</v-btn>
							<v-flex md3 v-for="proj in resourceList" :key="proj.id">
								<v-card>
									<v-card-title primary-title>
										<h3> {{ proj.title }}</h3>
									</v-card-title>
									<v-card-text>
										{{ proj.description }}
									</v-card-text>
									<v-card-actions>
										<v-btn flat color="orange" @click="getResourceDetail(proj.author, proj.permlink)">Подробнее...</v-btn>
									</v-card-actions> 
								</v-card>
							</v-flex>
						</v-layout>
					</v-container>
					
					<v-container v-if="page=='transfers'" >
						<v-layout warp>
							<v-data-table
								:headers="transfersHeaders"
								:items="transfersData"
								hide-actions
								class="elevation-1"
							>
								<template slot="items" slot-scope="props">
									<td>{{ props.item.time }}</td>
									<td>{{ props.item.title }}</td>
									<td>{{ props.item.author }}</td>
									<td>{{ props.item.combs }}</td>
									<td>{{ props.item.howGet }}</td>
									<td>{{ props.item.contacts }}</td>
									<td>{{ props.item.description }}</td>
								</template>
							</v-data-table>
						</v-layout>
					</v-container>
					
					<v-dialog v-model="resourceDialog" max-width="500px">
						<v-card>
							<v-card-title>
								<h3>Подробная информация о ресурсе</h3>
							</v-card-title>
							<v-card-text>
								<h4>Название: {{ resourceDetail.title }}</h4>
								<h4>Описание: {{ resourceDetail.description }}</h4>
								<h4>Как получить ресурс: {{ resourceDetail.howGet }}</h4>
								<h4>Контакты: {{ resourceDetail.contacts }}</h4>
								<h4>Кол-во сот: {{ resourceDetail.combs }}</h4>
							</v-card-text>
							<v-card-actions>
								<v-btn color="success" @click="transfer()">Приобрести</v-btn>
								<v-btn color="error" @click="resourceDialog=false">Закрыть</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					
					<v-dialog v-model="loginDialog" max-width="500px">
						<v-card>
							<v-card-title>
								<h3>Вход в систему</h3>
							</v-card-title>
							<v-card-text>
								<v-form v-model="valid" ref="form" lazy-validation>
									<v-text-field
										label="Логин"
										v-model="login"
										required
									></v-text-field>
									<v-text-field
									  label="Пароль"
									  v-model="password"
									  required
									></v-text-field>
								</v-form>
							</v-card-text>
							<v-card-actions>
								<v-btn color="success" @click="submit" :disabled="!valid">Войти</v-btn>
								<v-btn color="error" @click="loginDialog=false">Закрыть</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					
					<v-dialog v-model="newResourceDialog" max-width="500px">
						<v-card>
							<v-card-title>
								<h3>Создание ресурса</h3>
							</v-card-title>
							<v-card-text>
								<v-form v-model="valid" ref="form" lazy-validation>
									<v-text-field
										label="Название"
										v-model="title"
										required
									></v-text-field>
									<v-text-field
									  label="Описание"
									  v-model="description"
									  multi-line
									  required
									></v-text-field>
									<v-text-field
										label="Как получить ресурс"
										v-model="howGet"
										required
									></v-text-field>
									<v-text-field
										label="Контакты"
										v-model="contacts"
										required
									></v-text-field>
									<v-text-field
										label="Кол-во сот"
										v-model="combs"
										required
										suffix="COMBS"
										type="number"
									></v-text-field>
								</v-form>
							</v-card-text>
							<v-card-actions>
								<v-btn color="success" @click="submit"  :disabled="!valid" >Создать ресурс</v-btn>
								<v-btn color="error" @click="newResourceDialog=false">Закрыть</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

				</v-content>
			</v-app>
		</div>
	<div class="lding">
		<div class="lds-css ng-scope">
			<div class="lds-cube">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	<script src="https://unpkg.com/golos-js@0.6.1/dist/golos.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.13.1/dist/sweetalert2.all.min.js"></script>
	<script src="./app.js"></script>
	</body>
</html>